<div class="menu">
    <ul class="heroes">
        <li *ngFor="let rf of reportForms" [class.selected]="rf === selectedForm" (click)="onSelect(rf)">
            <span class="badge">{{rf.index}}</span>{{rf.name}}
        </li>
    </ul>
</div>

<div class="month-content">
    <div *ngIf="selectedForm">
        <div class="month-title">{{selectedForm.name}}当月汇总</div>

        <div class="show-table">
            <!--选择科室-->
            <div class="select-office-text">选择科室</div>
            <div class="select-office">
                <select class="form-control" id="office" name="office" [(ngModel)]="officeName"
                        (ngModelChange)="onSelectOffice(officeName)">
                    <option *ngFor="let o of offices">{{o.name}}</option>
                </select>
            </div>

            <form class="month-form">
                <tr class="month-form-row">
                    <td class="month-form-number-col">日</td>
                    <td *ngFor="let s of sensitives" class="month-form-number-col">{{s.name}}</td>
                </tr>
                <tr class="month-form-row" *ngFor="let ms of monthSensitives">
                    <td class="month-form-number-col">{{ms[0].day}}</td>
                    <td *ngFor="let s of ms" class="month-form-number-col">
                        {{s.people}}
                    </td>
                </tr>
            </form>
        </div>
    </div>
</div>