.month-content {
    margin-left: 280px;
}

.show-table {
    padding: 20px;
}

.select-office-text {
    margin-top: 10px;
    text-align: center;
    float: left;
}

.select-office {
    margin-left: 10px;
    float: left;
}

.month-form {
    border: 1px solid #8764b8;
    margin-top: 10px;
    clear: both;
}

.month-form-row {
    height: 60px;
}

.month-title {
    text-align: center;
    font-size: 18px;
}

.month-form-number-col {
    min-width: 100px;
    padding: 4px;
    text-align: center;
}




