<div class="menu">
    <ul class="heroes">
        <li *ngFor="let rf of reportForms" [class.selected]="rf === selectedForm" (click)="onSelectForm(rf)">
            <span class="badge">{{rf.index}}</span>{{rf.name}}
        </li>
    </ul>
</div>

<div class="content">
    <div class="day-form">
        <div *ngIf="selectedForm">
            <div class="form-title"><h2>{{selectedForm.name}}</h2></div>
            <div class="form-line"></div>
            <table>
                <!--上报时间-->
                <tr class="form-row">
                    <td class="form-col-title">上报时间</td>
                    <td>{{today}}</td>
                </tr>

                <!--上报科室-->
                <tr class="form-row">
                    <td class="form-col-title">上报科室</td>
                    <td>
                        <select class="form-control" id="office" name="office" [(ngModel)]="officeName"
                                (ngModelChange)="onSelectOffice(officeName)">
                            <option *ngFor="let o of offices">{{o.name}}</option>
                        </select>
                    </td>
                </tr>

                <!--表内容-->
                <tr class="form-row" *ngFor="let s of sensitives">

                    <td class="form-col-title"><span *ngIf="s.parentName">{{s.parentName}}（</span>{{s.name}}<span
                            *ngIf="s.parentName">）</span></td>
                    <td>
                        <input #people (keyup)="onlyNumber(s, people)" class="form-control" type="number"
                               value={{s.people}}>
                    </td>

                </tr>

                <!--提交按钮-->
                <tr class="form-row">
                    <td></td>
                    <td>
                        <button class="btn btn-default" type="button" (click)="onSubmit()">提交</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>