<div class="menu">
	<ul class="heroes">
		<li *ngFor="let form of forms" [class.selected]="form === selectedForm" (click)="onSelect(form)">
			<span class="badge">{{form.index}}</span>{{form.name}}
		</li>
	</ul>
</div>	

<div class="content">
	<div class="day-form" >
		<div *ngIf="selectedForm">
			<div class="form-title"><h2>{{selectedForm.name}}</h2></div>
			<div class="form-line"></div>
			<table>
				<tr class="form-row" *ngFor="let title of selectedForm.titles">
					<td class="form-col-title">{{title}}</td>
					<td>
						<input class="form-control" type="text" name="">
					</td>
				</tr>
				<tr class="form-row">
					<td></td>
					<td>
						<button class="btn btn-default" type="button">提交</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>